extends layout 

block content 
  h1= title

  if currentUser&&currentUser.member_status==="member"
    a.btn-hyperlink(href="/newmessage"): button.new-msg-btn(type="button") New Message
  for message in messages 
    if currentUser&&currentUser.member_status==="member"
      p
        span.message-header-username #{message.author.username} 
        | &nbsp;
        | &nbsp;
        span.message-header-timestamp #{message.timestamp}
        | &nbsp;
        | &nbsp;  
        span.message-title #{message.title}
        if (currentUser&&currentUser.admin===true)
          button.delete-button(type="submit", form=message._id.toString()) del
    else 
      p 
        span.message-header-anon Hidden User
        | &nbsp;
        | &nbsp;
        span.message-header-anon Hidden Timestamp 
        | &nbsp;
        | &nbsp;
        span.message-title #{message.title}

    div.message-content
      p #{message.text}
      form(method="POST" action="" id=message._id.toString())
        input(type="hidden", name="msg_id", value=message._id)
    br

  if errors 
      ul.error-list 
        for error in errors  
          li!= error.msg 